<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
 <h1>hello</h1>
 <form action="/todo" method="POST">
    <table>
        <tr>
            <td><input type="text" name="title" placeholder="title 입력하세요."></td>
        </tr>
        <tr>
            <td><input type="text" name="content" placeholder="content 입력하세요."></td>
        </tr>
        <tr>
            <td><input type="text" name="expireDate" placeholder="expireDate 입력하세요."></td>
        </tr>
        <tr>
            <td><input type="text" name="priority" placeholder="priority 입력하세요."></td>
        </tr>
    </table>
    <input type="submit" value="전송하기">
</form>






</body>
</html>